page-home {

  [ion-button] {
    float: right;
  }

  .searchbar-ios {
    padding: 0 1px;
    min-height: auto;
    border-radius: 5px;
  }
  .searchbar-md {
    padding-left: 0;
    padding-right: 0;
  }

  h3 {
    margin-top: 3.6rem;
  }

  .card-ios,
  .card-md {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  ion-card-content {
    text-align: right;
  }

  ion-segment {
    margin-bottom: 8px;
  }
}
